*{
  margin: 0;
  padding: 0;
}

body{
  background: rgb(230, 230, 230);
  color: #000;
  font-family: sans-serif
}

/* Contenedor principal */
.contenedor{
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  gap: 20px;
/*  config del grid */
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4, auto);

  grid-template-areas: "encabezado encabezado encabezado"
                       "sidebar principal principal"
                       ". W1 W2 "
                       "pie pie pie"
}

.contenedor > div,
.contenedor .encabezado,
.contenedor .principal,
.contenedor .sidebar,
.contenedor .pie {
  padding: 20px;
  border-radius: 4px;
}

.contenedor .encabezado{
  background: darkblue;
  color: #fff;
  grid-area: encabezado;
}

.contenedor .principal{
  background: #fff;
  grid-area: principal;
}

.contenedor .sidebar{
  background: orange;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  grid-area: sidebar;
}

.contenedor .W1,
.contenedor .W2{
  background: lightskyblue;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor .W1{
  grid-area: W1;
}

.contenedor .W2{
  grid-area: W2;
}

.contenedor .pie{
  background: darkblue;
  color: #fff;
  grid-area: pie;
}

.contenedor .c-nombre,
.contenedor .c-mail,
.contenedor .c-mensaje,
.contenedor .c-boton,
.contenedor .c-titulo,
.contenedor .c-form{
  align-items: center;
  justify-content: center;
}


.contenedor .c-nombre{
  grid-area: c-nombre;

}

.contenedor .c-mail{
  grid-area: c-mail;

}

.contenedor .c-mensaje{
  grid-area: c-mensaje;

}

.contenedor .c-boton{
  grid-area: c-boton;

}

.contenedor .c-titulo{
  grid-area: c-titulo;

}

.contenedor .c-form{
  grid-area: c-form;

}

#doble {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "c-titulo c-titulo"
                       "c-form c-form"
}

#triple{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: "c-nombre c-mail"
                       "c-mensaje c-mensaje"
                       "c-boton c-boton"
}
